footer{
  background-color: bisque;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
      button{
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        color: bisque;
        background-color: royalblue;
      }
  }
}
@media (screen and max-width: 1000px){
  footer{
    align-items: center;
    ul{
      margin:10px 0;
      padding: 0;
      gap:10px;
      justify-content: center;
      align-items: center;
      button{
        padding:4px 8px;
        font-size: .75rem;
      }
    }
  }

}


