.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}
.sideNav{
  width: 30vw;
  height: 100vh;
  background-color: bisque;
}
.sideNavContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.closeButton{
  background-color: transparent;
  color: royalblue;

  border:none;
  position: absolute;
  top:0;
  right:0;
  padding: 16px;
}
.menuSpacer {
  flex: 1 1 auto;
}
.contentWrapper{
  height: 100vh;
  width:100vw;
  background-color:floralwhite;
  position: absolute;
  left:0;
  top:0;
  z-index: 2
}
.sidebarContent{

  position: absolute;
  top:0;
  right: 0;
  width: 100vw !important;
  background-color: transparent;
}
.navLinkWrapper{
  margin:20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  list-style: none;
  width: 100%;
  a{
    color: royalblue;
    cursor: pointer;
  }
}
.mobileMenu{
  background-color: royalblue;
  color: bisque;
  display: none;
  button{
    color:bisque;
    background-color: transparent;
    border: none;
  }
}
.openNaviButton{
  padding: 16px;
  background-color: transparent;
  border: none;
  color: royalblue;
  cursor: pointer;
}
.form{
  height: 100vh;
  margin:16px;

}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 768px){
  .sideNav{
    width: 50vw;
  }
  .mobileMenu{
    display: block;

  }
  .openNaviButton{
    display: none;
  }

}


